@import "src/app/scss/default";
$color_1: #322b6b;
$color_2: #1c8adb;
$color_3: #fff;
$color_4: #991006;
$font_family_1: "Roboto", sans-serif;
$font_family_2: "Exo 2", sans-serif;
$background_color_1: #0AD69C;
$background_color_2: #fbb1b1;

textarea, input{
  color: white;
}

.content {
  margin: 62px 64px 0 148px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
}

.form__input {
  font-family: $font_family_1;
  height: 40px;
  margin-bottom: 24px;
}

.form__headline {
  font-family: $font_family_2;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.4px;
  color: $color_2;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.form__group {
  display: flex;
  align-self: flex-end;
  width: 60%;
  justify-content: flex-end;
}

.form__button {
  align-self: flex-end;
  width: 80%;
  height: 42px;
  background-color: $active_btn;
  font-size: 16px;
  font-family: $font_family_2;
  color: $form_color;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 24px;

  &:disabled {
    color: darkgray;
    background: $no_active_color;
  }
}

.area {
  margin-bottom: 100px;
}

.form__textarea {
  height: 100px;
  resize: none;


  &::-webkit-scrollbar {
    width: 6px;
    background: #252525;
    mix-blend-mode: normal;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fdfeff;
    border-radius: 2px;
  }
}

.loading {
  margin-top: 40px;
  width: 10%;
  margin-right: 10px;
}


@media (max-width: 900px) {
  .content {
    margin-left: 4px;
    margin-right: 4px;
  }
  form {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 620px) {
  form {
    padding-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .form__button {
    align-self: center;
  }
}

@media (max-width: 460px) {
  .form__button {
    align-self: center;
  }
}
